@media screen and (max-width: 1520px) {
  .cover {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 1520px) {
  * {
    color: red;
  }
}

@media screen and (max-width: 1520px) {
  * {
    color: red;
  }
}

@media screen and (max-width: 1520px) {
  * {
    color: red;
  }
}
